.cont__unsplash {
  ul {
    column-count: 4;
    column-gap: 20px;
    width: 100%;
    li {
      margin: 20px;
      img {
        border-radius: 10px;
      }
    }
  }
}

// Tag
.unsplash__taginner {
  display: inline-block;
  .Unsplashbutton {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    transition: all 0.4s;
    background: #000;
    &:hover {
      color: rgb(255, 34, 255);
    }
  }
}
